<template>
    <div>
        {{ myDataVar }}
        <v-container fluid>
        <v-btn @click="do_action()">Do Action</v-btn>
        {{ response_message }}
  </v-container>
    </div>
</template>
<script>
//const { ipcRenderer } = require("electron");
  export default {
    data: function(){
      return {
        response_message: "Original Message",
        myDataVar: "Hola Desde Vue"
      }
    },
    methods: {
      do_action: function() {
        window.api.send("ping", "some data");
      }
    },
    mounted: function () {
      this.$nextTick(function () {
          //Register IPC Renderer event handles once for this control
          window.api.receive("pong", (data) => {
            this.myDataVar = data
              console.log(data);
            });
      });
      
    },
  }

</script>