<template>
  <v-container grid-list-md>
    <v-layout row wrap>
      <v-flex xs12 sm4>
        <v-card>
          <v-img src="https://cdn.vuetifyjs.com/images/cards/house.jpg">

          </v-img>
          <v-card-title>
              Casas
          </v-card-title>
          <v-card-text>
            Casas para todos los gustos y presupuestos
          </v-card-text>
          <v-card-actions>
            <v-btn color="info" text>Accion</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
        <v-flex xs12 sm4>
        <v-card>
          <v-img src="https://cdn.vuetifyjs.com/images/cards/house.jpg">

          </v-img>
          <v-card-title>
              Casas
          </v-card-title>
          <v-card-text>
            Casas para todos los gustos y presupuestos
          </v-card-text>
          <v-card-actions>
            <v-btn color="info" text>Accion</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'HelloWorld'
};
</script>
