<template>
    <v-container fluid class="pa-0">
        <div class="indigo darken-3 pa-3 text-center">
            <img src="v.png">
        </div>
        <v-container>
            <h2>Vuetify sidebar template</h2>
            <p>This is an example template using <a href="http://vuejs.org" target="_blank">Vue.js</a> and <a href="http://vuetifyjs.com" target="_blank">Vuetify</a>. You can use this example by installing it using the <a href="https://github.com/vuejs/vue-cli">vue-cli</a>.</p>
            <code class="px-3">
    $ npm install -g @vue/cli @vue/cli-init
    $ vue init disjfa/vuetify-sidebar-template my-project
    $ cd my-project
    $ npm install
    $ npm run serve
            </code>
        </v-container>
    </v-container>
</template>

<script>
export default {
  data() {
    return {};
  },

  mounted() {
  },
};
</script>