<template>
  <v-app>
    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="headline text-uppercase">
          <span>DashBoard </span>
          <span class="font-weight-light">Vue Engine</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn :to="{name: 'home'}">Sign In</v-btn>
      <v-btn class="succes" :to="{name: 'tareas-crud'}">Login</v-btn>
    </v-app-bar>
    <v-navigation-drawer app v-model="drawer" temporary>
      <v-layout mt-4 column align-center>
        <v-flex>
          <v-avatar>
            <img src="https://avatars2.githubusercontent.com/u/28236809?s=460&v=4" alt="">
          </v-avatar>
        </v-flex>
        <v-layout>
          <p class="mt-3 headline" color="succes">Tomeu Rubi</p>
        </v-layout>
        <v-layout column>
          <v-flex mx-3>
            <v-btn color="succes" block :to="{name: 'home'}">Homa</v-btn>
            <v-btn color="succes" bloick :to="{name: 'tareas'}">Lista de tareas</v-btn>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-navigation-drawer>
    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
import Principal from './components/Principal';

export default {
  name: 'App',

  components: {
    Principal,
  },

  data () {
    return {
      drawer: true
    }
  },
};
</script>
